
<div class="fix-menu">
    

    <section class="login-block">
        <!-- Container-fluid starts -->
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <!-- Authentication card start -->
                    
                        <form class="md-float-material form-material"
                        name="form"
                        >
                            <div class="text-center">
                                <img src="assets\images\logo.png" alt="logo.png">
                            </div>
                        <div>
                            
                        </div>    
                        </form>
                        <!-- end of form -->
                </div>
                <!-- end of col-sm-12 -->
            </div>
            <!-- end of row -->
        </div>
        <!-- end of container-fluid -->
    </section>


</div>