
<my-toolbar></my-toolbar>
<div class="main-div">
    <mat-card class='home-card card-search'>
        <mat-card-header>Search</mat-card-header>
        <mat-card-subtitle>search products by category </mat-card-subtitle>        
    </mat-card>
    <mat-card class='home-card card-order'>
        <mat-card-header> Order</mat-card-header> 
        <mat-card-subtitle>create a new order </mat-card-subtitle>
    </mat-card>
    <mat-card class='home-card card-storage' >
        <mat-card-header>Storage</mat-card-header>
        <mat-card-subtitle>manage the sorage</mat-card-subtitle>
    </mat-card>

</div>